<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table-container">
        <h2 class="todo-title">Delete todo</h2>
        <a href="" class="btn">Back</a>

        <div class="confirm">
            <p>Are you sure want delete this todo?</p>
            <a href="" class="btn">Yes</a>
            <a href="" class="btn">No</a>
        </div>
    </div>
</body>
</html>